.page {
  background-color: #2A2C2F;
  color: #fff;
  padding-top: 28px;
  
}

.header {
    border: 1px solid #f5f;
    margin: 0 48px 0;
    display: flex;
    justify-content: flex-end;
    align-items:center ;
    height: 52px;
    position: relative;
   
}
.header__logo {
    position: absolute;
    top: 0;
    left: 0;
}
.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  list-style: none;
  margin-left: 18px;
  
}
.header__lang-link_active {
    text-decoration: underline;
}