.cover__subtitle {
    font-family: "Inter", "Arial",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; 
    width: 360px;
    height: 66px;
    margin: 32px auto 0;
    position: relative;
  }
  @media screen and (max-width: 767px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 1.14; 
      width: 288px;
      height: 48px;
      margin: 16px auto 0;
    }
  }