.intro {
  max-width: 984px;
  margin:92px auto;
  }
  @media screen and (max-width: 1023px) {
    .intro {
      margin: 88px 24px 88px;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .intro {
      margin: 64px 16px 64px;
    }
  }
  